@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap');

body {
  font-family: 'Baloo Tamma 2', cursive;
  color: #282828;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  background: #d3d3d3;
}

.tabs {
  display: grid;
}

div[role='tablist'] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

div[role='tablist'] .tabButton {
  padding: 8px 10px;
  border: none;
  border-radius: 4px 4px 0 0;
  background: #fff;
  cursor: pointer;
}

div[role='tablist'] .tabButton:focus {
  outline: 0;
}

div[role='tablist'] .tabButton[aria-selected='false'] {
  background: mediumseagreen;
  color: #fff;
}

div[role='tabpanel'] {
  padding: 2rem;
  background: #fff;
}
